<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud Enviada</title>
    <script type="text/javascript">
        function showAlert() {
            alert("SOLICITUD ENVIADA PARA VALIDAR Y COMPLETAR LA MISMA DEBE FIRMAR EN LA COOPERATIVA EL TITULAR DE LA CUENTA. Contacto: 3401436201");
            window.location.href = "/";
        }
    </script>
</head>
<body onload="showAlert()">
</body>
</html>
